$color-red: #D0021B;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.font-righteous {
  font-family: 'Righteous', cursive;
}

h2 {
  font-size: 2em;
  margin: 1em 0 .5em;
  font-weight: normal;
}

p {
  line-height: 1.4;
}

button {
  font-size: .85rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: .75rem 1.2rem .85rem;
  border-radius: 25px;
  font-weight: 600;
  border: none;
  background: #D0021B;
  color: white;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: #AD0015;
}

button:focus {
  outline: none;
}

a {
	color: $color-red;
}
.red {
	color: $color-red;
	font-weight: 600;
}

.white {
	color: white;
}

.StarRating {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  
  &--top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &--bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}


.footer {
	margin: 80px auto 0;
	width: 60%;
	border-top: 1px solid black;
	display: inline-block;
	font-size: .85rem;
}
.last-page {

	p {
		font-size: 1.5rem;
		font-weight: 300;
		position: relative;
	}

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.15;
	}

	button.arrow-down {
		margin-top: 50%;
		position: relative;
		height: 65px;
		width: 65px;
		padding: 0;
		border-radius: 100%;

		&:before {
			content:url('./img/arrow-down.svg');
		}
	}

}

.featured {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 5px 30px;
  box-sizing: border-box;
  overflow-y: scroll;
	h2 {
	  margin-bottom: .25em;
	}
	ul.tags li {
	  font-size: .85rem;
	}
	.manga-about p {
		margin-top: 20px;
		text-align: left;
	}
}

#root {
  text-align: center;
}

.books {
  width: 50%;
  padding: 12px 3px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

ol.instructions {
  margin-top: 40px;
  line-height: 2;
  text-align: left;
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

ol.instructions li {
  counter-increment: item;
}

ol.instructions li:before {
 margin-right: 10px;
 content: counter(item);
 font-weight: 600;
 color: #D0021B;
}

img.logo {
  margin-top: 100px;
}

.main-heading {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 55px;
  margin: 15px;
}

.sub-heading {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: .5rem 0;
}

button.close-icon {
  padding: 0;
  position: absolute;
  top: -12px;
  left: -15px;
  width: 35px;
  height: 35px;
  display: none;
  background: #ddd;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

button.close-icon:hover {
  background: #ccc;
}

button.close-icon img {
  width: 13px;
  position: relative;
}

.book {
  height: 220px;
  border: 5px solid white;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-color: #ddd;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);

  &:hover {
    .FlipPage__bg {
      border-color: transparent transparent darken($color-red, 5%) transparent;
    }
  }
}

.LargeBook {
  width: 500px;
  height: 750px;
  margin: 5px auto 20px;
  box-shadow: 0 12px 12px rgba(0,0,0,.2);
  transition: box-shadow .2s;
  &:hover {
    box-shadow: 0 12px 12px rgba(0,0,0,.3);
  }
  .close-icon {
    display: inline-block;
  }
}

.SmallBook__container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.SmallBook__info {
  background: white;
  overflow: hidden;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: 26px;
  transition: max-height 0.2s ease-out;
}

.SmallBook__info h5 {
  margin: 2px 0 0;
}

.SmallBook:not(.selected-book):hover, .SmallBook:not(.selected-book):focus {
  transform: scale(1.15);
  box-shadow: 0 14px 14px rgba(0,0,0,.3);
  z-index: 100;
}

.SmallBook:hover .SmallBook__info, .selected-book .SmallBook__info {  
  bottom: 0;
  transition: max-height 0.2s ease-in;
  max-height: 47px;
}

.SmallBook.selected-book .FlipPage, .selected-book .close-icon {
  display: inline-block;
}

ul.tags {
  padding: 0;
  margin: 0;
}

ul.tags li {
  display: inline-block;
  font-size: 11px;
  margin: 2px 5px;
}


.FlipPage__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: transparent transparent $color-red transparent;
}

.FlipPage__text {
  position: absolute;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}

.LargeBook {
  .FlipPage__bg {
    border-width: 0 0 200px 200px;
  }
  .FlipPage__text {
    bottom: 35px;
    right: 25px;
    font-size: 30px;
  }
}

.SmallBook {
  transition: all .1s;
  cursor: pointer;
  max-width: 200px;

  .FlipPage {
    display: none;
  }
  .FlipPage__bg {
    border-width: 0 0 130px 130px;
  }
  .FlipPage__text {
    bottom: 63px;
    right: 8px;
    font-size: .85rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 700px) {
	.main-container {
		display: flex;
		flex-wrap: wrap-reverse;
	}
  .books {
    width: 100%;
  }
  .featured {
  	position: static;
  	width: 100%;
  	padding: 5px;
  }
  img.logo {
  	margin-top: 20px;
  }
  .footer {
  	margin-top: 20px;
  }
  .SmallBook {
    height: 140px;
    &.selected-book .FlipPage {
      display: none;
    }
  }
}

@media (max-width : 414px) { 
	.LargeBook {
		width: 400px;
		height: 600px;
	}
}

@media (max-width : 375px) { 
	.LargeBook {
		width: 350px;
		height: 525px;
	}
}

@media (max-width: 320px) { 
	.LargeBook {
		width: 300px;
		height: 450px;
	}
}

